body.body_about {
  background-image: url(background.jpg);
  background-size: cover;
//  opacity: 0.8;
}
.about_about {
  background: aliceblue;
  @include transform(rotate(1deg));
}
.about_explain {
  @include transform(rotate(-1deg));
  background: #fff7e0;
  width: 95%;
}
.about_portrait {
  width: 75vw;
  height: 75vw;
  margin: 0 auto;
  @include transform(rotate(1deg));
//  opacity: 0.85;
  .portrait {
    width: 65%;
    padding: 0.5em;
    border: 1px solid #777;
    @include border-radius(50%);
  }
}
.about_thematiek {
  background: #f9ffff;
  width: 98%;
  @include transform(rotate(1deg));
  float: right;
}
.about_parallel {
  clear: both;
  background: white;
  width: 93%;
  @include transform(rotate(-1deg));
}
.navbar_item.navbar_item_about {
  background: #f2eae6;
}

@media screen and (min-width: 601px) {
  section.about_explain {
    width: 40%;
  }
  section.about_about {
    float: left;
    margin: 1em 0 0 3em ;
    width: 45%
  }
  section.about_explain {
    float: right;
    margin-right: 1em;
  }
  .about_portrait {
    clear: both;
    width: 45%;
    height: 45vw;
    margin: 0 auto;
    float: left;
  }
  section.about_thematiek {
    width: 45%;
    margin-top: 1em;
  }
  section.about_parallel {
    clear: left;
    width: 75%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 801px) {
  section.about_explain {
    width: 320px;
  }
  section.about_about {
    margin: 1em 0 0 3em ;
    width: 360px;
  }
  section.about_explain {
    margin-right: 1em;
  }
  .about_portrait {
    width: 360px;
    height: 360px;
  }
  section.about_thematiek {
    width: 360px;
    margin-top: 1em;
  }
  section.about_parallel {
    width: 560px;
  }
}
