html.home_opacity {
  opacity: 0.95;
}
body.body_home {
  font-family: "Lato", sans-serif;
  background: #f9f9f9;
  background-image: url(background_wall.jpg);
  background-size: contain;
  opacity: 0.9;
  }
