body.toneel_about {
  background-image: url(planken_small.jpg);
//  opacity: 0.8;
}
section.about_sohappy {
  background: white;
  h4.header_sohappy {
    color: #5685a9;
    font-size: 2.5em;
    font-weight: bold;
  }
}
section.toneel_rooftopcontent {
  h4.header_rooftop {
    color: purple;
    font-size: 2.5em;
    font-weight: bold;
  }
}
.toneel_foto1,
.toneel_foto2,
.toneel_foto3,
.toneel_foto4 {
  opacity: 0.85;
}
p.toneel_rooftop1,
p.toneel_rooftop2 {
  background: #f9ffff;
  @include transform(rotate(-2deg));
  font-size: 80%;
}
section.toneel_credits,
section.toneel_credits2 {
  margin-top: 1em;
  @include transform(rotate(2deg));
  background: #e9e9e9;
  font-size: 80%;
  font-weight: bold;
  line-height: 1.35em;
  border: 1px solid white;
}
section.toneel_credits2 {
  @include transform(rotate(-2deg));
}
section.toneel_neemein,
section.toneel_rooftopcontent {
  background: #f9ffff;
}
h4.header_neemmein {
  color: #535279;
  font-size: 2.5em;
  font-weight: bold;
}

@media screen and (min-width:601px) {
  section.about_sohappy {
    float: right;
    width: 60%;
  }
  .toneel_foto1,
  .toneel_foto2,
  .toneel_foto3 {
    float: left;
    width: 33%;
    margin-left: 1em;
  }
  .toneel_foto4 {
    width: 60%;
    margin: 2em auto 0;
    float: none;
  }
  section.toneel_credits,
  section.toneel_credits2 {
    clear: left;
    float: right;
    width: 60%;
    font-size: 80%;
    font-weight: bold;
  }
  p.toneel_rooftop2 {
    max-width: 60%;
    clear: both;
  }
  section.toneel_neemein,
  section.toneel_rooftopcontent {
    clear: right;
    width: 50%;
    float: right;
  }
  p.toneel_rooftop2 {
    margin: 0 auto;
  }
}
