body.workshops_about {
  background-image: url(concrete.jpg);
//  opacity: 0.8;
}
.navbar {
//  opacity: 0.8;
  .navbar_item {
    background: #d2d4c6;
    color: #a96c13;
  }
}
.workshops_article {
  background: #fefff6;
  @include transform(rotate(1deg));
}
.workshop_workshopdata {
  background: #fefff6;
  @include transform(rotate(-1deg));
}
h4.header_workshops,
h4.header_workshopdata {
  font-size: 2.5em;
  font-weight: bold;
  color: #9f9fd0;
}
.questions {
  margin-top: 1em;
  width: 55vw;
  height: 55vw;
  background: #e91e63;
  color: white;
  font-family: "WilliamLucasStd", "Comic Sans MS", cursive, sans-serif;
  font-size: 3em;
  font-weight: bold;
  text-shadow: 1px 1px 3px darkblue;
  @include transform(rotate(-15deg));
  @include border-radius(50%);
  opacity: 0.8;
  border: 1px solid white;
  letter-spacing: 4px;
}

@media screen and (min-width:601px) {

  .workshops_article {
    float: left;
    width: 60%;
    opacity: 0.8;
    margin-left: 2em;
  }
  .workshop_workshopdata {
    width: 30%;
    opacity: 0.8;
    float: right;
  }
  .questions {
    width: 17.5vw;
    height: 17.5vw;
  }
}
