@import "reset";
@import "w3";
@import "flex";
@font-face {
  font-family: "WilliamLucasStd";
  src: url('../Fonts/2FDF27_4A_0.woff2') format('woff2'), url('../Fonts/2FDF27_4A_0.woff') format('woff'), url('../Fonts/2FDF27_4A_0.ttf') format('truetype'), url('../Fonts/2FDF27_4A_0.eot') format('eot');
}
@font-face {
  font-family: 'SchmutzPro-Clogged';
  src: url('../Fonts/2FDF27_3C_0') format('woff2'), url('../Fonts/2FDF27_3C_0.woff') format('woff'), url('../Fonts/2FDF27_3C_0.ttf') format('truetype'), url('../Fonts/2FDF27_3C_0.eot') format('eot');
}
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}
.mySlides {display: none}
img {max-width: 100%;}

// HEADER

.header {
  background-color: #1a194e;
  opacity: 0.9;
  margin: 0 auto 1.5em;
  padding-bottom: 0.5em;
}
.logo_content {
  @include border-radius(2%);
  margin: 2em auto 1em;
  border: 1px solid #8aafbb;
  background-color: ivory;
  transform: rotate(-5deg);
}
.logo {
  margin: 0 auto;
}
h2.subtitle {
  color: white;
  font-size: 5em;
  margin: 0 auto;
  font-family: "WilliamLucasStd";
  font-weight: bold;
}
h2,
h4,
h5 {
  font-family: 'Baloo Da', cursive;
}

// H2 WITH LINES

h2 {
  position: relative;
  overflow: hidden;
  text-align: center;
}
h2 span {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  position: relative;
  padding: 0 20px;
}
h2 span:before, h2 span:after {
  content: '';
  display: block;
  width: 960px;
  position: absolute;
  top: 0.73em;
  border-top: 4px solid white;
}
h2 span:before {
  right: 100%;
}
h2 span:after {
  left: 100%;
}

// NOTE: Start content

footer {
  margin-top: 6em;
  p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.25em;
    line-height: 1.6em;
    width: 95%;
    margin: 0 auto;
    text-shadow: 0 0 0.1px;
    letter-spacing: 0.5px;
  }
}

// NOTE: NAVBAR SMALL

.small_nav_btn {
  border: 1px solid #e8e8e8;
  margin: 1em 1em 0 0;
  font-family: 'Baloo Da', cursive;
  font-weight: bold;
  background: #f9f9f9;
  color: orange;
  @include border-radius(10%);
}
.menu_small_panel {
  border-bottom: 1px solid #e8e8e8;
}
.menu_small {
  border-top: 1px solid #e8e8e8;
  font-family: 'Baloo Da', cursive;
  font-weight: bold;
  color: orange;
}
.active {
  color: #f55454;
}
.w3-navbar li a:hover {
  background: orange;
  color: white;
}

// NOTE: ABOUT PAGE
h4.header_about,
h4.header_explain,
h4.header_thematiek,
h4.header_parallel {
  color: white;
  margin: 1em auto;
  letter-spacing: 1px;
  text-shadow: 0 0 1px;
}

h4.header_about {
  background: #c86091;
//  width: 90%;
  margin: 1em auto;
  padding: 0.25em 0;
  font-size: 1.25em;
}
//.round_about {
//  @include border-radius(50%);
//  width: 60%;
//  border: 1px dotted lightgrey;
//}
h4.header_explain {
  background: #7e7ff3;
  width: 80%;
//  text-transform: uppercase;
}
h4.header_thematiek {
  background: #a25f85;
  width: 70%;
}
h4.header_parallel {
  background: #627962;
  width: 80%;
}
article.parallel {
  a {
    color: #627962;
    text-decoration: none;
  }
  a:hover {
    color: #7e7ff3;
  }
}
.portrait {
  width: 65%;
  padding: 0.5em;
  border: 1px solid lightgrey;
}

// MEDIA QUERIES

@media screen and (max-width: 375px) {
  h2.subtitle {
    font-size: 4em;
  }
}

@media screen and (min-width: 601px) {
  .header {
    transform: rotate(-2deg);
    margin: 2em auto 1em;
  }
  h2.subtitle {
    font-size: 5em;
    width: 70%;
    padding-top: 0.75em;
    line-height: 1.5em;
    letter-spacing: 3px;
  }
  section.logo_content {
  width: 30%;
  float: left;
  }

}

@import "home";
