@import "reset";
@import "w3";
@import "flex";
@font-face {
  font-family: "WilliamLucasStd";
  src: url('../Fonts/2FDF27_4A_0.woff2') format('woff2'), url('../Fonts/2FDF27_4A_0.woff') format('woff'), url('../Fonts/2FDF27_4A_0.ttf') format('truetype'), url('../Fonts/2FDF27_4A_0.eot') format('eot');
}
@font-face {
  font-family: 'SchmutzPro-Clogged';
  src: url('../Fonts/2FDF27_3C_0.woff2') format('woff2'), url('../Fonts/2FDF27_3C_0.woff') format('woff'), url('../Fonts/2FDF27_3C_0.ttf') format('truetype'), url('../Fonts/2FDF27_3C_0.eot') format('eot');
}
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);
@import url(https://fonts.googleapis.com/css?family=Baloo+Da);
@import url(http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css);

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}
@mixin transform($transforms) {
	   -moz-transform: $transforms;
	     -o-transform: $transforms;
	    -ms-transform: $transforms;
	-webkit-transform: $transforms;
          transform: $transforms;
}
@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}

.mySlides {display: none}
img {max-width: 100%;}

// HEADER
.navbar {
  font-family: "WilliamLucasStd";
  font-size: 1.875em;
  margin: 0 auto;
  transform: rotate(-1deg);
.navbar_item {
  color: #535279;
  background: #e5e5e5;
  border: 1px solid white;
  margin: 0 auto;
  font-weight: bold;
  text-shadow: 1px 2px 4px white;
  letter-spacing: 1px;
  width: 49vw;
  a {
    text-decoration: none;
  }
}
}
.header {
  background-color: #1a194e;
  opacity: 0.9;
  margin: 0 auto 1.5em;
  padding-bottom: 0.5em;
}
.logo_content {
  @include border-radius(2%);
  margin: 2em auto 1em;
  border: 1px solid #8aafbb;
  background-color: aliceblue;
  @include transform(rotate(-5deg));
  width: 75%;
  .logo {
    margin: 0 auto;
    max-width: 90%;
  }
}
h2.subtitle {
  color: white;
  font-size: 5em;
  margin: 0 auto;
  font-family: "WilliamLucasStd";
  font-weight: bold;
}
h2,
h4,
h5 {
  font-family: "WilliamLucasStd";
}

// H2 WITH LINES

h2 {
  position: relative;
  overflow: hidden;
  text-align: center;
}
h2 span {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  position: relative;
  padding: 0 20px;
}
h2 span:before, h2 span:after {
  content: '';
  display: block;
  width: 960px;
  position: absolute;
  top: 0.73em;
  border-top: 4px solid white;
}
h2 span:before {
  right: 100%;
}
h2 span:after {
  left: 100%;
}

// NOTE: Start content

p {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.25em;
}
footer {
  margin-top: 6em;
  p {
    font-size: 1.25em;
    line-height: 1.6em;
    width: 95%;
    margin: 0 auto;
    text-shadow: 0 0 0.1px;
    letter-spacing: 0.5px;
  }
}

// NOTE: NAVBAR SMALL

.navbar_small {
  color: aliceblue;
  font-family: "WilliamLucasStd";
  font-size: 2.5em;
  border: 0.1px solid;
  background: #565279;
  width: 65%;
  margin: 0 auto 0.5em;
  @include border-radius(1%);
}
.menu_small_panel {
//  border-bottom: 1px solid #e8e8e8;
  background: #525071;
  font-family: "WilliamLucasStd";
  color: aliceblue;
  font-size: 2em;
  line-height: 1em;
}
.active {
  color: #f55454;
}
.w3-navbar li a:hover {
  background: orange;
  color: white;
}

// NOTE: ABOUT PAGE
h4.header_about,
h4.header_explain,
h4.header_thematiek,
h4.header_parallel {
  color: white;
  margin: auto;
  letter-spacing: 1px;
  text-shadow: 0 0 1px;
}
h4.header_explain,
h4.header_about,
h4.header_thematiek,
h4.header_parallel {
  font-family: "WilliamLucasStd";
  font-size: 2.25em;
  padding: 0.25em 0;
  line-height: 1em;
}
h4.header_about {
  color: #c86091;
  width: 90%;
//  margin: 1em auto;
}

h4.header_explain {
  color: #7e7ff3;
  margin-top: 0.25em;
//  width: 80%;
//  text-transform: uppercase;
}
h4.header_thematiek {
  color: #a25f85;
//  width: 70%;
}
h4.header_parallel {
  color: #627962;
//  width: 80%;
}
article.parallel {
  a {
    color: #627962;
    text-decoration: none;
  }
  a:hover {
    color: #7e7ff3;
  }
}


// MEDIA QUERIES

@media screen and (max-width: 375px) {
  h2.subtitle {
    font-size: 4em;
  }
}

@media screen and (min-width: 601px) {
  .header {
    transform: rotate(-2deg);
    margin: 2em auto 1em;
  }
  .navbar {
    .navbar_item {
      width: 20%;
      margin: 0 0 0 1em;
    }
  }

  h2.subtitle {
    font-size: 5em;
    width: 60%;
    padding-top: 0.75em;
    line-height: 1.5em;
    letter-spacing: 3px;
  }
  section.logo_content {
  width: 35%;
  float: left;
  }

}

@media screen and (min-width: 601px) and (max-width: 768px) {
  h2.subtitle {
    font-size: 3em;
    width: 60%;
  }
}

@import "home";
@import "about";
@import "toneel";
@import "workshops";
